<p><%= @notice %></p>

<%= form_tag "/posters/#{@server}", method: "post" do %>
	<table border="1">
		<tr>
			<td><%= label :poster, :category, "区分 " %></td>
			<td><%= render "/posters/categories_select" %></td>
		</tr>
		<tr>
			<td><%= label :poster, :contributor, "お名前： " %></td>
			<td><%= text_field :poster, :contributor, size: 20 %></td>
		</tr>
		<tr>
			<td><%= label :poster, :title, "タイトル： " %></td>
			<td><%= text_field :poster, :title, size: 30 %></td>
		</tr>
		<tr>
			<td colspan="2"><%= label :poster, :content, "本文： " %></td>
		</tr>
		<tr>
			<td colspan="2"><%= text_area :poster, :content, cols:70, rows: 10 %></td>
		</tr>
		<tr>
			<td><%= label :poster, :close_key, "終了キー： " %></td>
			<td><%= password_field :poster, :close_key, size: 4, maxlength: 4 %>※4文字</td>
		</tr>
		<tr>
			<td><%= submit_tag "投稿", data:{confirm: "投稿前にもう一度内容をご確認ください\nOKを押すと投稿されます"} %></td>
		</tr>
	</table>
<% end %>