<table>
  <tr id="title">
    <td class="id">No.<%= @poster.id %></td>
    <td class="main_title"><%= @poster.title %></td>
    <td class="category"><%= @poster.category.label %></td>
  </tr>
  <tr class="header">
    <td colspan="3">
      <%= @poster.contributor %>
      <%= @poster.posted.strftime '%Y/%m/%d(%a) %H:%M' %>
    </td>
  </tr>

  <tr class="content">
    <td colspan="3"><%= @poster.content %></td>
  </tr>
</table>
<br />
<table>
  <% @poster.replies.each_with_index do |reply, idx| %>
  <tr class="header reply_header">
    <td class="id">Rep.<%= idx + 1 %></td>
    <td class="reply_title"><%= reply.contributor %></td>
    <td class="reply_posted"><%= reply.posted %></td>
  </tr>
  <tr class="content">
    <td colspan="3"><%= reply.content %></td>
  </tr>
  <% end %>
</table>
<br />

<form action="/posters/<%= @poster.server.server %>/<%= @poster.id %>/reply" method="post">
  <%= hidden_field_tag :poster_id, @poster.id %>
  <label>お名前：<%= text_field_tag :contributor, "", size: 30 %></label><br />
  <label>本文：<br /><%= text_area_tag :content, "", cols:70, rows: 10 %></label><br />
  <input type="submit" value="送信">
</form>